@use "../globals";

.header {
  @extend %align-column-center;
  margin-top: 24px;
}

.line {
  margin: 10px 0;
  width: 90%;
  border: 1px solid globals.$secondary-color;
}

.header-menu {
  @extend %align-row-center;
  color: globals.$primary-color;
  gap: 4rem;
}

.search-input {
  border-radius: 5px;
  background-color: globals.$primary-color;
  display: flex;
  align-items: center;
  height: 40px;
  width: 310px;

  div {
    color: white;
    width: 77px;
    text-align: center;
  }

  input {
    width: 233px;
    height: 40px;
    box-sizing: border-box;
    outline: none;
    border: 1px solid globals.$primary-color;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
}
